.mainText {
  color: white;
}

.secondaryText {
  color: #d199ff/*#e7ccff*/;
}

.header {
  background-color: #aa33ff;
  color: white;
  font-size: 25px;
  padding: 15px;
  padding-left: 30px;
  box-shadow: 0px 0px 10px #333;
  position: fixed;
  width: 100%;
}

.headerElement {
  float: left;
  margin: 0px;
}

.itemHeader {
  background-color: #712da9;
  margin: 10px;
  color: #f7eeff;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;

  box-shadow: 3px 5px 3px #ccc;
}

.itemName {
  color: white;
  margin: 0;
  vertical-align: middle;
  float: left;
}

.checkbox {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.gradient {
  background: repeating-linear-gradient(
  45deg,
  /*#9933ee,*/
  #aa33ff,
  #aa33ff 25px,
  #d199ff 25px,
  #d199ff 50px
  );

  height: 100%;

  border-radius: 10px;
}

.progressBar {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;

  height: 50px;

  background-color: #cbb9da;
  border-radius: 10px;
  
  box-shadow: 3px 5px 3px #41344c;
}

.remainingTime {
  color: #000;
  text-align: right;

  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;

  line-height: 50px;

  font-size: 20px
  
}

.addButton {
  width: 100%;
  display:block;
  border: 3px solid #aa33ff;
  background-color: white;
  
  cursor: pointer;
  
  border-radius: 3px;
  padding: 5px;

  color: #aa33ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;

  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.addButton:hover {
  background-color: #aa33ff;
  color: white;
  border-radius: 15px;
}

.addButton:focus{
  outline: none;
}

.confirmButton {
  width: 100%;
  display:block;
  border: 2px solid #555;
  background-color: white;
  
  cursor: pointer;
  
  border-radius: 3px;
  padding: 3px;

  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.confirmButton:hover {
  background-color: #ccc;
  border-radius: 15px;
}

.confirmButton:focus{
  outline: none;
}

.popUp {
  position: fixed;
  top: 20%;
  left: 25%;
  margin:auto;
  width: 50%;
  background-color:white;
  border-radius: 5px;
  box-shadow: 1px 2px 10px #333;
  padding: 25px;
  color: #555
}

.popupHeader {
  margin: 0;
  font-size: 30px;
  color: #555;
  float: left;
}

.closeP {
  border: none;
  background-color: transparent;
  padding: 0px;
  float: right;
  color: red;
  margin: 0px;

  cursor: pointer;

  transition: color 0.1s;
}

.closeP:hover{
  color: #f77;
}

.closeP:focus{
  outline: none;
}

.moveButton {
  border: none;
  background-color: transparent;
  padding: 0px;
  float: right;
  color: #d199ff;
  margin: 0px;

  cursor: pointer;
}

.moveButton:focus{
  outline: none;
}

.Icon {
  font-size: 40px; 
  margin: 0px;
  margin-top: -10px
}

.popUpInput {
  vertical-align: middle;
  margin: 10px;
}

.popUpNameInput {
  width: 60%;
  display: inline-block
}

.popUpDates {
  display: flex;
  flex-flow: row wrap
}

.mainBox {
  background-color: white;
  width: 29%;
  height: 80vh;
  box-shadow: 5px 10px 15px #ccc;
  float: left;
  overflow: auto;
  overflow-x: hidden
}

h1 {
  margin: 0;
  margin-top: 15px;
  margin-left: 20px;
}